@media screen and (min-width: 650px) {
  #img-logo{
    width: 15%;
    height:auto;
    margin: 3px
  }

  #hamburgerButton{
   color: white;
  }

  button, input[type="submit"], input[type="button"], input[type="reset"], a {
    min-height: 44px;
    min-width: 44px;
    padding: 15px;
  }

  .menu-food-drink{
    background-color: white;
    padding: 30px;
    border-radius: 15px;
  }

  .review{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
  }

  .review-item{
    background-color: #2c3e50;
    color: white;
    margin-bottom: 3px;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px ;
  }

  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
    background-color: #2c3e50;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
    background-color: #2c3e50;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    color: white;
  }

  .app-bar .app-bar__navigation ul li a:hover {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.2);
  }


  .restaurants {
    grid-template-columns: 1fr 1fr;

  }

  .restaurant {
    grid-template-columns: auto 1fr;
  }

  .restaurant .restaurant__title {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .restaurant .restaurant__description {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  footer #footerTools {
    flex-direction: row;
  }

  .skip-link {
    position: absolute;
    top: -80px;
    left: 0;
    padding: 8px;
    background-color: #bf1722;
    color: white;
    z-index: 100;
  }

  .skip-link:focus {
    top: 0;
  }
}

@media screen and (min-width: 800px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 850px) {
  .restaurants {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .restaurants {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .restaurants {
    grid-template-columns: repeat(5, 1fr);
  }
}
